<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr><td>Morning</td> <td><a href="https://docs.google.com/presentation/d/1P3ITbMxVsYcxbzUXLbDo8DLBs7d4nC_20eilIuaB0X0/edit?usp=sharing">GIS Intro</a></td></tr>
      <tr><td> </td><td><a href="http://www.datacarpentry.org/R-spatial-raster-vector-lesson/01-raster-structure/">Raster I</a></td></tr>
      <tr><td>Afternoon</td><td><a href="http://www.datacarpentry.org/R-spatial-raster-vector-lesson/04-raster-calculations-in-r/">Raster II</a></td></tr>
      <tr><td> </td><td><a href="http://www.datacarpentry.org/R-spatial-raster-vector-lesson/06-vector-open-shapefile-in-r/">Vector I</a></td></tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>Morning</td> <td><a href="http://www.datacarpentry.org/R-spatial-raster-vector-lesson/09-vector-when-data-dont-line-up-crs/">Vector II</a></td></tr>
      <tr><td> </td><td><a href="http://bbest.github.io/R-adv-spatial-lessons/tidy.html">Vector III</a></td></tr>
      <tr> <td>Afternoon</td><td><a href="http://bbest.github.io/R-adv-spatial-lessons/interactive.html">Interactive Maps</a></td></tr>
      <tr><td> </td><td>Additional Topics (TBD)</td></tr>
    </table>
  </div>
</div>
